<div *ngIf="showRecordatorio">  

  <az-nueva-asistencia [detalleEvento]="detalleSelecionado" (guardoAsistencia)="guardo($event)" ></az-nueva-asistencia>

</div>

<div class="row" *ngIf="!showRecordatorio">
    <div class="col-xl-12 col-lg-12 col-12 bottom-30"> 
  
      <div class="row">
        <div class="col">
          <div widget class="card">
            <div class="card-header">
              <span class="text-uppercase">Asistencias</span>
  
              <div class="widget-controls">
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
           
              </div>
            </div>
            <div class="card-block widget-body">
          
             <div class="row" *ngIf="mostrarEvento">  
              <p class="no-margin"> </p>

              <div class="w-200 pull-right bottom-15">
                <div class="input-group input-group-sm">
                  <span class="input-group-addon"><i class="fa fa-search"></i></span>
                  <input class="form-control" id="table-search-input" [(ngModel)]="searchText" type="text"
                    placeholder="Buscar evento...">
                </div>
              </div>
              <div class="table-responsive datatable">

                <table class="table table-striped table-hover table-sm" [mfData]="eventos | SearchPipe : searchText"  #mf="mfDataTable"
                  [mfRowsOnPage]="10">
                  <thead>
                    <tr>
                
                      <th>
                        <mfDefaultSorter by="nombre"><strong>Nombre</strong></mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="descripcion"><strong>Descripción</strong></mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="fechaCreacion"><strong>Estado</strong></mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="estado"><strong>Asistencias</strong></mfDefaultSorter>
                      </th>
                    
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of mf.data | SearchPipe : searchText">
                      <td>{{item.nombre}}</td>
                      <td>{{item.descripcion}}</td>
                      <td>
                        <span class="alert-success"
                          *ngIf="item.estado != 'Cancelado' && item.estado != 'Finalizado'">{{item.estado}}</span>
                        <span class="alert-danger"
                          *ngIf="item.estado == 'Cancelado'  || item.estado == 'Finalizado'">{{item.estado}}</span>
                      </td>
                      <td>
                        <span class="col col-3">
                          <a *ngIf="item.estado != 'Cancelado' && item.estado != 'Nuevo'"
                            style="color: #014c8c;cursor:pointer;"
                            (click)="cambioEvento(item)">Ver</a>
                          <label *ngIf="item.estado == 'Cancelado' || item.estado == 'Nuevo'">--</label>
                        </span>
  
                      </td>
                
  
                    </tr>
                    <tr *ngIf="(mf.data | SearchPipe : searchText).length === 0">
                      <td colspan="100">
                        No encontrado
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="12">
                        <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50, 100]"></mfBootstrapPaginator>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>


              
    <!--         <div class="form-group col-md-5">
              <label class="form-control-label">Evento:</label>
              <select  class="form-control" [(ngModel)]="eventoSeleccionado" (change)="cambioEvento()"
              #selectTemplate>
                <option *ngFor="let evento of eventos ; let i = index"                
                [ngValue]='evento'>{{evento.nombre}}</option>
              </select>
          </div> -->
    
            
        
        
        
        
        </div>
   
  
        <div class="row" *ngIf="mostrarGrilla">
          <div class="col col-lg-9">
              <div widget class="card" style="margin-bottom:20px">
                  <div class="card-header">
                      <span>Fechas</span>
                      <div class="widget-controls">
                          <a data-widgster="expand" href="#" class="transition"><i
                                  class="fa fa-chevron-down"></i></a>
                          <a data-widgster="collapse" href="#" class="transition"><i
                                  class="fa fa-chevron-up"></i></a>
                      </div>
                  </div>
                  <div class="card-block widget-body">
                      <div class="row">
                        <div class="table-responsive datatable" >
                          <!-- <table class="table table-striped table-hover table-sm" [mfData]="socios  | SearchPipe : searchText" #mf="mfDataTable" [mfRowsOnPage]="10"> -->
                          <table class="table table-striped table-hover table-sm" [mfData]="detalleEvento"
                              #mf="mfDataTable" [mfRowsOnPage]="10">
                              <thead>
                                  <tr>
                                      <!-- <th><mfDefaultSorter by="id">Id</mfDefaultSorter></th> -->
                                      <th>
                                          <mfDefaultSorter by="nombre">Día</mfDefaultSorter>
                                      </th>
                                      <th>
                                          <mfDefaultSorter by="apellido">Fecha desde</mfDefaultSorter>
                                      </th>
                                      <th>
                                          <mfDefaultSorter by="nroDocumento">Asistencia</mfDefaultSorter>
                                      </th>
                                   
                                      <th></th>
                                  </tr>
                              </thead>
                              <tbody>
                            <tr *ngFor="let item of mf.data | SearchPipe : searchText">
                                      
                                      <td><strong>{{item.dia}}</strong></td>
                                      <td>{{item.fechaDesde | date:'medium'}}</td>  
                                      <td *ngIf="!item.asistencia; else other_content">
                                        <a style="color: #014c8c;cursor:pointer;" (click)="tomarAsistencia(item)">Tomar</a>
                                      <td>
                                        <ng-template #other_content>
                                          <td>  <i style="cursor:pointer; align-content: right" (click)="tomarAsistencia(item)"
                                            class="fa fa-check"></i></td>
                                          </ng-template>                             
                           
                                  </tr>
                             <tr *ngIf="(mf.data | SearchPipe : searchText).length === 0">
                                      <td colspan="100">
                                          No encontrado
                                      </td>
                                  </tr>  
                              </tbody>
                              <tfoot>
                             <!--      <tr>
                                      <td colspan="12">
                                          <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50, 100]">
                                          </mfBootstrapPaginator>
                                      </td>
                                  </tr> -->
                              </tfoot>
                          </table>
                      </div>
                      </div>
                      <button (click)="volver();" type="button" 
    class="btn btn-default">Cancelar</button>
                  </div>
              </div>
    
          </div>
      </div>
      
  <!--   <div class="col col-lg-9">
  <div *ngIf="mostrarInscripcion"> 
    <az-select-socio  [listaSocios]="listaSocios"></az-select-socio>
    <button type="submit" class="btn btn-main" *ngIf="listaSocios"
      [disabled]="!listaSocios?.length" (click)="guardar()">Guardar</button>
      <button (click)="limpiarForm();" type="button" style="margin-left: 30px;"
      class="btn btn-default">Cancelar</button>
  </div>
     
      </div> -->
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>
  
