<!-- <div class="col-xl-12 col-lg-12 col-12 bottom-30">
  <div widget class="card">
    <div class="card-header">
      <span>Porcentaje de Asistencias de socios al evento</span>
      <div class="widget-controls">
        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
      </div>
    </div>
    <div class="card-block widget-body">

      <div class="row">
        <div class="col-xl-8 col-lg-8 col-8 bottom-30">
          <google-chart #chart
          [title]="title"
          [type]="type"
          [data]="data"
          [columnNames]="columnNames"
          [options]="options"
          [width]="width"
          [height]="height">
       </google-chart>
        </div>

        <div class="col-xl-4 col-lg-4 col-4 bottom-20">


          <div style="padding-top: 150px;">
            <app-tabla [data]="AsistenciasSociosEventoResponse" name="asistencias_socios_por_eventos" [config]="tablaConfig">
            </app-tabla>
          </div> 

        </div>

      </div>


    </div>
  </div>
</div> -->


<div class="col-xl-12 col-lg-12 col-12 bottom-30" *ngIf="mostrarGrafico">
  <div widget class="card">
    <div class="card-header">
      <span>Porcentaje de Asistencias de socios al evento</span>
      <div class="widget-controls">
        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
      </div>
    </div>
    <div class="card-block widget-body">

      <div class="row">
        <div class="col-xl-8 col-lg-8 col-8 bottom-30">
          <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [colors]="barChartColors"
          [legend]="barChartLegend"
          [chartType]="barChartTypeH"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
      </canvas>
        </div>

        <div class="col-xl-4 col-lg-4 col-4 bottom-20">


          <div style="padding-top: 50px;">
            <app-tabla [data]="AsistenciasSociosEventoResponse" name="asistencias_socios_por_eventos" [config]="tablaConfig">
            </app-tabla>
          </div> 

        </div>

      </div>

      <button (click)="volver()" type="button" style="margin-top: 30px;"
      class="btn btn-default">Volver</button>

    </div>
  </div>
</div>


<!-- <div class="col-xl-8 col-lg-8 col-8 bottom-30" *ngIf="mostrarGrafico">
  <div widget class="card">
      <div class="card-header">
          <span>Horizontal Bar Chart</span>
          <div class="widget-controls">              
              <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
              <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>              
              <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
          </div>        
      </div>
      <div class="card-block widget-body">
          <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [colors]="barChartColors"
              [legend]="barChartLegend"
              [chartType]="barChartTypeH"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
          </canvas>
      </div>
  </div>
</div> -->