<!-- <div class="form-group">
  <label>Tags</label>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of tags" (click)="actualizarTags(item)">
      {{item.nombre}}
      <i [hidden]="!estaSeleccionado(item)" class="fa fa-check"></i>
    </li>
  </ul>
</div> -->

<!-- <typeahead
  [list]="tags"
  [searchProperty]="'nombre'" [displayProperty]="'nombre'"
  [maxSuggestions]="4"
  (suggestionSelected)="tagSelected($event)"
  placeholder="Agregar Tag...">
</typeahead> -->

 <input auto-complete
 [(ngModel)]="selectedTag"
 [source]="tags"
 (valueChanged)="tagSelected($event)" [accept-user-input]="true" /> 

<div>
<span *ngFor="let item of listaTags" class="badge badge-primary">{{item.nombre}}</span>
</div>
