<div class="form-group">
  <label>Tags</label>
  <!-- <select class="form-control" id="ctrlTag" required #ctrlTag="ngModel" name="ctrlTag" [(ngModel)]="listaTags">
    <option *ngFor="let item of tags" (change)="actualizarTags(item)">
      {{item.nombre}}
      <i [hidden]="!estaSeleccionado(item)" class="fa fa-check"></i>
    </option>
  </select> -->

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of tags" (click)="actualizarTags(item)">
      {{item.nombre}}
      <i [hidden]="!estaSeleccionado(item)" class="fa fa-check"></i>
    </li>
  </ul>
</div>
