<div class="row bottom-30">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>Donar</span>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>               
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-block widget-body"> 
                <div class="row mbm-20">   
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 bottom-30">              
                        <div class="card card-success">
                            <img class="card-img-top w-100" src="assets/img/app/anciano.jpg" alt="Card image cap">
                            <div class="card-block">Tu donación nos ayudaria fuertemente a seguir creciendo
                              y mejorando esta fundación que es de todos! Te agradecemos! </div>
                        </div>
                    </div>
              
              
                </div>
            </div>
        </div>
    </div>
</div>
