
<div widget class="card" style="margin:20px">
    <div class="card-header">
        <span>Contacto</span>
        <div class="widget-controls">

        </div>
    </div>
    <div class="card-block widget-body">
        <div class="row">
            <div class="col col-md-4">
                <div class="form-group">
                    <label for="calle">Calle</label>
                    <input type="text" class="form-control" id="calle" required
                           #calle="ngModel" name="calle" [(ngModel)]="_contacto.nombre">
                </div>
            </div>
            <div class="col col-md-4">
                <div class="form-group">
                    <label for="calle">Apellido</label>
                    <input type="text" class="form-control" id="apellido" required
                           #apellido="ngModel" name="apellido" [(ngModel)]="_contacto.apellido">
                </div>
            </div>
            <div class="col col-md-4">
                <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input type="text" class="form-control" id="telefono" required
                           #calle="ngModel" name="telefono" [(ngModel)]="_contacto.telefono">
                </div>
            </div>
        </div>
    </div>
</div>
