<div class="row" *ngIf="user.rol == 'ADMIN'">

    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
        <div class="card small-info-box" style="background-color:#ff7514">
          <div class="media">
            <span class="media-left">
                <i class="fa fa-clock-o"></i>
            </span>
            <div class="media-body text-right">
              <h6 class="media-heading no-margin">PROXIMOS EVENTOS</h6>
              <span *ngIf="cantCursosEnProgreso == -1"  class="fa fa-spin fa-spinner"></span>
              <span *ngIf="cantCursosEnProgreso != -1" >{{cantCursosNuevos}}</span>
            </div>
          </div>
        </div>
      </div>



  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
    <div class="card small-info-box" style="background-color:#ff7514">
      <div class="media">
        <span class="media-left">
            <i class="fa fa-tasks"></i>
        </span>
        <div class="media-body text-right">
          <h6 class="media-heading no-margin">EVENTOS EN PROGRESO</h6>
          <span *ngIf="cantCursosEnProgreso == -1"  class="fa fa-spin fa-spinner"></span>
          <span *ngIf="cantCursosEnProgreso != -1" >{{cantCursosEnProgreso}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
    <div class="card small-info-box" style="background-color:#ff7514">
      <div class="media">
        <span class="media-left">
            <i class="fa fa-calendar-check-o"></i>
        </span>
        <div class="media-body text-right">
          <h6 class="media-heading no-margin">EVENTOS FINALIZADOS</h6>
          <span *ngIf="cantEventosFinalizados == -1"  class="fa fa-spin fa-spinner"></span>
          <span *ngIf="cantEventosFinalizados != -1" >{{cantEventosFinalizados}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
      <div class="card small-info-box">
        <div class="media">
          <span class="media-left">
              <i class="fa fa-users"></i>
          </span>
          <div class="media-body text-right">
            <h6 class="media-heading no-margin">SOCIOS</h6>
            <span class="counter-card" *ngIf="cantSocios == -1"  class="fa fa-spin fa-spinner"></span>
            <span class="counter-card" *ngIf="cantSocios != -1" >{{cantSociosSistema}}</span>
          </div>
        </div>
      </div>
    </div>

  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
    <div class="card small-info-box">
      <div class="media">
        <span class="media-left">
            <i class="fa fa-users"></i>
        </span>
        <div class="media-body text-right">
          <h6 class="media-heading no-margin">MATRICULADOS</h6>
          <span *ngIf="cantSocios == -1"  class="fa fa-spin fa-spinner"></span>
          <span *ngIf="cantSocios != -1" >{{cantSocios}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
    <div class="card small-info-box">
      <div class="media">
        <span class="media-left">
            <i class="fa fa-check-square-o"></i>
        </span>
        <div class="media-body text-right">
          <h6 class="media-heading no-margin">ASISTENCIAS TOTALES</h6>
          <span *ngIf="cantAsistencias == -1"  class="fa fa-spin fa-spinner"></span>
          <span *ngIf="cantAsistencias != -1" >{{cantAsistencias}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
    <div class="card small-info-box" style="background:#89ac75">
      <div class="media">
        <span class="media-left">
            <i class="fa fa-users"></i>
        </span>
        <div class="media-body text-right">
          <h6 class="media-heading no-margin">ENCARGADOS</h6>
          <span *ngIf="cantEncargados == -1"  class="fa fa-spin fa-spinner"></span>
          <span *ngIf="cantEncargados != -1" >{{cantEncargados}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
    <div class="card small-info-box" style="background: #89ac75">
      <div class="media">
        <span class="media-left">
            <i class="fa fa-map-marker"></i>
        </span>
        <div class="media-body text-right">
          <h6 class="media-heading no-margin">ESPACIOS COMUNES</h6>
          <span *ngIf="cantEspacios != -1" >{{cantEspacios}}</span>
          <span *ngIf="cantEspacios == -1"  class="fa fa-spin fa-spinner"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
    <div class="card small-info-box" style="background: #89ac75" >
      <div class="media">
        <span class="media-left">
            <i class="fa fa-map-marker"></i>
        </span>
        <div class="media-body text-right">
          <h6 class="media-heading no-margin">SECRETARIOS</h6>
          <span *ngIf="cantSecretarios != -1" >{{cantSecretarios}}</span>
          <span *ngIf="cantSecretarios == -1"  class="fa fa-spin fa-spinner"></span>
        </div>
      </div>
    </div>
  </div>

  

   <div class="col col-12">
    <div widget class="card">
         <div class="card-header">
           <span>Próximos Eventos</span>
           <div class="widget-controls">
               <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
               <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
              </div>
         </div>
         <div class="card-block widget-body">
          <az-proximos-eventos></az-proximos-eventos>
            
         </div>
       </div>
 </div>



</div> 


<div class="row" *ngIf="user.rol == 'SECRETARIO'">

  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
      <div class="card small-info-box"style="background:#89ac75" >
        <div class="media">
          <span class="media-left">
              <i class="fa fa-clock-o"></i>
          </span>
          <div class="media-body text-right">
            <h6 class="media-heading no-margin">PROXIMOS EVENTOS</h6>
            <span *ngIf="cantCursosEnProgreso == -1"  class="fa fa-spin fa-spinner"></span>
            <span *ngIf="cantCursosEnProgreso != -1" >{{cantCursosNuevos}}</span>
          </div>
        </div>
      </div>
    </div>



<div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
  <div class="card small-info-box">
    <div class="media">
      <span class="media-left">
          <i class="fa fa-tasks"></i>
      </span>
      <div class="media-body text-right">
        <h6 class="media-heading no-margin">EVENTOS EN PROGRESO</h6>
        <span *ngIf="cantCursosEnProgreso == -1"  class="fa fa-spin fa-spinner"></span>
        <span *ngIf="cantCursosEnProgreso != -1" >{{cantCursosEnProgreso}}</span>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
  <div class="card small-info-box" >
    <div class="media">
      <span class="media-left">
          <i class="fa fa-calendar-check-o"></i>
      </span>
      <div class="media-body text-right">
        <h6 class="media-heading no-margin">EVENTOS FINALIZADOS</h6>
        <span *ngIf="cantEventosFinalizados == -1"  class="fa fa-spin fa-spinner"></span>
        <span *ngIf="cantEventosFinalizados != -1" >{{cantEventosFinalizados}}</span>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
    <div class="card small-info-box">
      <div class="media">
        <span class="media-left">
            <i class="fa fa-users"></i>
        </span>
        <div class="media-body text-right">
          <h6 class="media-heading no-margin">SOCIOS</h6>
          <span class="counter-card" *ngIf="cantSocios == -1"  class="fa fa-spin fa-spinner"></span>
          <span class="counter-card" *ngIf="cantSocios != -1" >{{cantSociosSistema}}</span>
        </div>
      </div>
    </div>
  </div>

<!-- <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
  <div class="card small-info-box">
    <div class="media">
      <span class="media-left">
          <i class="fa fa-users"></i>
      </span>
      <div class="media-body text-right">
        <h6 class="media-heading no-margin">MATRICULADOS</h6>
        <span *ngIf="cantSocios == -1"  class="fa fa-spin fa-spinner"></span>
        <span *ngIf="cantSocios != -1" >{{cantSocios}}</span>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
  <div class="card small-info-box">
    <div class="media">
      <span class="media-left">
          <i class="fa fa-check-square-o"></i>
      </span>
      <div class="media-body text-right">
        <h6 class="media-heading no-margin">ASISTENCIAS TOTALES</h6>
        <span *ngIf="cantAsistencias == -1"  class="fa fa-spin fa-spinner"></span>
        <span *ngIf="cantAsistencias != -1" >{{cantAsistencias}}</span>
      </div>
    </div>
  </div>
</div> -->

<div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
  <div class="card small-info-box" >
    <div class="media">
      <span class="media-left">
          <i class="fa fa-users"></i>
      </span>
      <div class="media-body text-right">
        <h6 class="media-heading no-margin">ENCARGADOS</h6>
        <span *ngIf="cantEncargados == -1"  class="fa fa-spin fa-spinner"></span>
        <span *ngIf="cantEncargados != -1" >{{cantEncargados}}</span>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
  <div class="card small-info-box" >
    <div class="media">
      <span class="media-left">
          <i class="fa fa-map-marker"></i>
      </span>
      <div class="media-body text-right">
        <h6 class="media-heading no-margin">ESPACIOS COMUNES</h6>
        <span *ngIf="cantEspacios != -1" >{{cantEspacios}}</span>
        <span *ngIf="cantEspacios == -1"  class="fa fa-spin fa-spinner"></span>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
  <div class="card small-info-box" >
    <div class="media">
      <span class="media-left">
          <i class="fa fa-map-marker"></i>
      </span>
      <div class="media-body text-right">
        <h6 class="media-heading no-margin">SECRETARIOS</h6>
        <span *ngIf="cantSecretarios != -1" >{{cantSecretarios}}</span>
        <span *ngIf="cantSecretarios == -1"  class="fa fa-spin fa-spinner"></span>
      </div>
    </div>
  </div>
</div> -->



 <div class="col col-12">
  <div widget class="card">
       <div class="card-header">
         <span>Próximos Eventos</span>
         <div class="widget-controls">
             <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
             <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
            </div>
       </div>
       <div class="card-block widget-body">
        <az-proximos-eventos></az-proximos-eventos>
          
       </div>
     </div>
</div>



</div> 

<div *ngIf="user.rol == 'SOCIO'">
    <div class="row"> 


        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
            <div class="card small-info-box">
              <div class="media">
                <span class="media-left">
                    <i class="fa fa-clock-o"></i>
                </span>
                <div class="media-body text-right">
                  <h6 class="media-heading no-margin">PROXIMOS EVENTOS</h6>
                  <span *ngIf="cantCursosNuevos == -1"  class="fa fa-spin fa-spinner"></span>
                  <span *ngIf="cantCursosNuevos != -1">{{cantCursosNuevos}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
              <div class="card small-info-box">
                <div class="media">
                  <span class="media-left">
                      <i class="fa fa-tasks"></i>
                  </span>
                  <div class="media-body text-right">
                    <h6 class="media-heading no-margin">EVENTOS INSCRIPTOS</h6>
                    <span *ngIf="cantEventosInscriptos == -1"  class="fa fa-spin fa-spinner"></span>
                    <span *ngIf="cantEventosInscriptos != -1" >{{cantEventosInscriptos}}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
                <div class="card small-info-box">
                  <div class="media">
                    <span class="media-left">
                        <i class="fa fa-money"></i>
                    </span>
                    <div class="media-body text-right">
                      <h6 class="media-heading no-margin">EVENTOS ADEUDADOS</h6>
                      <span *ngIf="cantEventosAdeudados == -1"  class="fa fa-spin fa-spinner"></span>
                      <span *ngIf="cantEventosAdeudados != -1" >{{cantEventosAdeudados}}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
                  <div class="card small-info-box">
                    <div class="media">
                      <span class="media-left">
                          <i class="fa fa-pencil"></i>
                      </span>
                      <div class="media-body text-right">
                        <h6 class="media-heading no-margin">ENCUESTAS COMPLETADAS</h6>
                        <span *ngIf="cantEncuestasCompletadas == -1"  class="fa fa-spin fa-spinner"></span>
                        <span *ngIf="cantEncuestasCompletadas != -1" >{{cantEncuestasCompletadas}}</span>
                      </div>
                    </div>
                  </div>
                </div>

                
              <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
                  <div class="card small-info-box">
                    <div class="media">
                      <span class="media-left">
                          <i class="fa fa-map-marker"></i>
                      </span>
                      <div class="media-body text-right">
                        <h6 class="media-heading no-margin">MIS INTERESES</h6>
                        <span *ngIf="cantIntereses == -1"  class="fa fa-spin fa-spinner"></span>
                        <span *ngIf="cantIntereses != -1" >{{cantIntereses}}</span>
                      </div>
                    </div>
                  </div>
                </div>



<!-- <div class="col-xl-4 col-lg-4 col-12 bottom-30" *ngFor="let item of eventos" >              
    <div widget class="card">
      <div class="card-header">
          <span>{{item.nombre}}</span>
          <div class="widget-controls">              
              <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
              <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
              <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
              <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
              <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
          </div>        
      </div>
      <div class="card-block widget-body">
          <div class="media">
              <img class="d-flex align-self-center mr-3" src="assets/img/profile/bruno.jpg" width="70" alt="Generic placeholder image">
              <div class="media-body">
                  <h4 class="mt-0">{{item.nombre}}</h4>
                 <p>{{item.descripcion}}</p>
              </div>
          </div>
      </div>
  </div>
</div> -->
</div>
</div>




<div *ngIf="user.rol == 'ENCARGADO'">
  <div class="row"> 
      <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
          <div class="card small-info-box">
            <div class="media">
              <span class="media-left">
                  <i class="fa fa-clock-o"></i>
              </span>
              <div class="media-body text-right">
                <h6 class="media-heading no-margin">EVENTOS ASIGNADOS</h6>
                <span *ngIf="cantEventosAsignados == -1"  class="fa fa-spin fa-spinner"></span>
                <span *ngIf="cantEventosAsignados != -1">{{cantEventosAsignados}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
            <div class="card small-info-box">
              <div class="media">
                <span class="media-left">
                    <i class="fa fa-tasks"></i>
                </span>
                <div class="media-body text-right">
                  <h6 class="media-heading no-margin">EVENTOS EN PROGRESO</h6>
                  <span *ngIf="cantEventosProgreso == -1"  class="fa fa-spin fa-spinner"></span>
                  <span *ngIf="cantEventosProgreso != -1" >{{cantEventosProgreso}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 bottom-30">
              <div class="card small-info-box">
                <div class="media">
                  <span class="media-left">
                      <i class="fa fa-map-marker"></i>
                  </span>
                  <div class="media-body text-right">
                    <h6 class="media-heading no-margin">ASISTENCIAS TOMADAS</h6>
                    <span *ngIf="cantEventosAsistencia == -1"  class="fa fa-spin fa-spinner"></span>
                    <span *ngIf="cantEventosAsistencia != -1" >{{cantEventosAsistencia}}%</span>
                  </div>
                </div>
              </div>
            </div>    
      </div>
</div>