<div class="row">
  <div class="col-lg-9">
    <div widget class="card">
      <div class="card-header">
        <span>Editar perfil</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
        </div>
      </div>
      <div class="card-block widget-body">
        <form (ngSubmit)="onSubmit(perfilForm)" #perfilForm="ngForm">
          <div class="row">
            <div class="col col-lg-12">
              <div class="form-group">
                <label for="usuario">Usuario</label>
                <input type="text" class="form-control" id="usuario" required
                #usuario="ngModel" disabled name="usuario" [(ngModel)]="_item.usuario">
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col col-lg-12">
                <button type="submit" class="btn btn-main" [disabled]="!perfilForm.form.valid">Guardar</button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
