<div class="row bottom-30">
  <div class="col">
      <div widget class="card">
          <div class="card-header">
              <span>Pago Confirmado</span>
              <div class="widget-controls"> 
                  <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                  <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>               
                  <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
              </div>        
          </div>
          <div class="card-block widget-body"> 
              <div class="row mbm-20">   
                  <div class="col-xl-4 offset-xl-4 col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-4 bottom-30">              
                      <div class="card card-success">
                          <img class="card-img-top w-100" src="assets/img/app/success.jpg" alt="Card image cap" >
                          <div class="card-block">Tu pago se acredito correctamente! <br><br>

                            <a  style="color:whitesmoke;cursor:pointer;font-size:25px;"routerLink="/pages/mis-pagos">
                              Volver a mis pagos</a>
                          </div>
                      </div>
                  </div>
            
            
              </div>
          </div>
      </div>
  </div>
</div>

