<div class="col-xl-9 col-lg-9 col-9   bottom-30">
    <div widget class="card">
        <div class="card-header">
            <span>Cambio Contraseña</span>
            <div class="widget-controls">
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="card-block widget-body">

            <form class="form-horizontal" #passwordForm="ngForm">
                <div class="form-group row text-right">
                    <label for="passwordA" class="col-sm-3 form-control-label m-t-5">Contraseña Actual: </label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="passwordA" required minlength="4"
                            [(ngModel)]="contrasenia.contraseniaActual" #passwordA="ngModel" name="passwordA"
                            #spy>
                        
                            <br>TODO: remove this: {{spy.className}}
                        
                            <div *ngIf="passwordA.invalid && (passwordA.dirty || passwordA.touched)"
                            class="alert alert-danger">

                            <div *ngIf="passwordA.errors.required">
                                <div class="row">
                                    <div class="col-sm-6">
                                        La Contraseña actual es requerida.

                                    </div>
                                </div>


                            </div>
                            <div *ngIf="passwordA.errors.minlength">
                                <div class="row">
                                    <div class="col-sm-6">
                                        La Contraseña actual debe tener como minimo 4 caracteres.

                                    </div>
                                </div>
                            </div>




                            <!--  <div *ngIf="name.errors.forbiddenName">
                            Name cannot be Bob.
                          </div> -->

                        </div>
                    </div>


                </div>
               <div class="form-group row text-right">
                  <label for="password-h-f" class="col-sm-3 form-control-label m-t-5">Nueva Contraseña:	</label>
                  <div class="col-sm-9">
                      <input type="password" [(ngModel)]="contrasenia.nuevaContrasenia"
                      class="form-control" id="password-h-f" name="nuevaContrasenia">
                  </div>
              </div> 
                <div class="form-group row text-right">
                    <label for="re-password-h-f" class="col-sm-3 form-control-label m-t-5">Repite Nueva Contraseña:
                    </label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="re-password-h-f" name="password"
                            [(ngModel)]="contrasenia.repiteContrasenia" #password12="ngModel">
                    </div>
                </div>
                <div class="form-group row text-right">
                    <label for="re-password-h-f" class="col-sm-3 form-control-label m-t-5">Nivel de Seguridad: </label>

                    <ng2-password-strength-bar [passwordToCheck]="contrasenia.repiteContrasenia" [barColors]="myColors">
                    </ng2-password-strength-bar>


                </div>
                <div class="form-group row">
                    <div class="col-sm-9 offset-sm-3">
                        <button class="btn btn-main pull-right" type="submit">Guardar</button>
                        <button class="btn btn-main pull-right" type="button">Cancelar</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>