<div class="col col-12">
    <span class="alert alert-info">
            Fecha: <strong> {{detalle.fechaDesde | date: 'dd-MM-yyyy'}} </strong>
    </span>
</div>

<div class="col-12 bottom-30">
    <div class="form-group">
            <ul class="list-group">
                <li class="list-group-item justify-content-between" *ngFor="let inscripto of listaInscripciones" >
                        <span class="col col-10" class="custom-control-description">{{inscripto.Socio.nombre}} {{inscripto.Socio.apellido}}</span>
                        <span style="font-size:22px" class="col col-2 fa fa-check-square" *ngIf="estaPresente(inscripto.Socio.id)" (click)="togglePresente(inscripto.Socio)"></span>
                        <span style="font-size:22px" class="col col-2 fa fa-square-o" *ngIf="!estaPresente(inscripto.Socio.id)" (click)="togglePresente(inscripto.Socio)"></span>
                </li>
            </ul>
    </div>

    <div>

        <button *ngIf="detalle.fechaDesde < fechaActual" type="submit" (click)="guardarAsistencia()" class="btn btn-main">Guardar</button>
    </div>
</div>