<div class="row" style="justify-content:center;">

  <div class="col-lg-6 col-md-12 col-sm-12 bottom-30">
    <div class="float-box bottom-30">
      <div class="card">

        <div class="card-header">
          <span>Ingresos por tipos de eventos</span>
        </div>

        <div class="media">
          <div class="card-block widget-body">
            <div class="chart-outher">
              <canvas baseChart [data]="IngresosTipoEventoData" [labels]="IngresosTipoEventoLabels"
                [options]="pieChartOptions" [colors]="pieChartColors" [chartType]="'pie'"
                (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 bottom-30">
    <app-tabla [data]="IngresosTipoEventoResponse" name="ingresos_por_tipo_de_evento" [config]="tablaConfig">
    </app-tabla>
  </div>
</div>


<div class="row" style="justify-content:center;">

  <div class="col-lg-6 col-md-6 col-sm-12 bottom-30">
    <div class="float-box bottom-30">
      <div class="card">

        <div class="card-header">
          <span>Ingresos por tipo</span>
        </div>

        <div class="media">
          <div class="card-block widget-body">
            <div class="chart-outher">
              <canvas baseChart [data]="IngresosTipoData" [labels]="IngresosTipoLabels" [options]="pieChartOptions"
                [colors]="pieChartColors" [chartType]="'doughnut'" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 bottom-30">
    <app-tabla [data]="IngresosPorTipoResponse" name="ingresos_por_tipo" [config]="tablaConfig">
    </app-tabla>
  </div>

</div>


<div class="row" style="justify-content:center;">
 
  <div class="col-lg-6 col-md-6 col-sm-12 bottom-30">
    <div class="float-box bottom-30">
      <div class="card">

        <div class="card-header">
          <span>Ingresos en el tiempo</span>
        </div>


        <div class="media">
          <div class="card-block widget-body">
            <div class="chart-outher">

              <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                [colors]="lineChartColors" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 bottom-30">
    <app-tabla [data]="IngresosEnElTiempoResponse" name="ingresos_en_el_tiempo" [config]="tablaIngresosEnElTiempo">
    </app-tabla>
  </div>

</div>
