<div class="row">
    <div class="col-xl-12 col-lg-12 col-12 bottom-30" [hidden]="showDetail">
        <div class="row">
            <div class="col">
                <div widget class="card">
                    <div class="card-header">
                        <span class="text-uppercase">Socios</span>
                        <div class="widget-controls">
                            <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                            <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                            <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                            <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                            <!-- <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a> -->
                        </div>
                    </div>
                    <div class="card-block widget-body">
                        <p class="no-margin"> </p>
                        <div class="w-200 pull-left bottom-15">
                            <button style="margin-left: 20px;" class="btn btn-main" (click)="nuevoItem()">Nuevo
                                Socio</button>
                        </div>
                        <div class="w-200 pull-right bottom-15">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                <input class="form-control" id="table-search-input" [(ngModel)]="searchText" type="text"
                                    placeholder="Buscar Socio...">
                            </div>
                        </div>
                        <div class="table-responsive datatable">
                            <!-- <table class="table table-striped table-hover table-sm" [mfData]="socios  | SearchPipe : searchText" #mf="mfDataTable" [mfRowsOnPage]="10"> -->
                            <table class="table table-striped table-hover table-sm" [mfData]="socios"
                                #mf="mfDataTable" [mfRowsOnPage]="10">
                                <thead>
                                    <tr>
                                        <!-- <th><mfDefaultSorter by="id">Id</mfDefaultSorter></th> -->
                                        <th>
                                            <mfDefaultSorter by="nombre"><strong>Nombre</strong></mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="apellido"><strong>Apellido</strong></mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="nroDocumento"><strong>Dni</strong></mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="fechaCreacion"><strong>Estado</strong></mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="fechaCreacion"><strong>Acción</strong></mfDefaultSorter>
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of mf.data | SearchPipe : searchText">
                                        <!-- <td>{{item.id}}</td> -->
                                        <td>{{item.nombre}}</td>
                                        <td>{{item.apellido}}</td>
                                        <td>{{item.nroDocumento}}</td>
                                        <td>
                                            <span class="alert-success" *ngIf="item.estado == 'Activo'">Activo</span>
                                            <span class="alert-danger" *ngIf="item.estado == 'DebeMatricula'">Debe Matrícula</span>
                                        </td>
                                        <td>
                                            <a style="color: #014c8c;cursor:pointer;" (click)="verItem(item)">Ver detalle</a>
                                        <td>
                                    </tr>
                                    <tr *ngIf="(mf.data | SearchPipe : searchText).length === 0">
                                        <td colspan="100">
                                            No encontrado
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="12">
                                            <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50, 100]">
                                            </mfBootstrapPaginator>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-12 bottom-30" [hidden]="!showDetail">

        <div class="row">
            <div class="col-lg-12">
                <div widget class="card">
                    <div class="card-header">
                        <span>Socio</span>
                        <div class="widget-controls">
                            <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                            <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                            <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                            <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                        </div>
                    </div>
                    <div class="card-block widget-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-12">
                                <form (ngSubmit)="onSubmit(socioForm)" #socioForm="ngForm">
                                    <div class="row">
                                        <div class="col col-lg-12">
                                            <div widget class="card" style="margin-bottom:20px">
                                                <div class="card-header">
                                                    <span>Datos personales</span>
                                                    <div class="widget-controls">
                                                        <a data-widgster="expand" href="#" class="transition"><i
                                                                class="fa fa-chevron-down"></i></a>
                                                        <a data-widgster="collapse" href="#" class="transition"><i
                                                                class="fa fa-chevron-up"></i></a>
                                                    </div>
                                                </div>
                                                <div class="card-block widget-body">
                                                    <div class="row">
                                                        <div class="col col-md-6">
                                                            <div class="form-group">
                                                                <label for="nombre">Nombre</label>
                                                                <input type="text" class="form-control" id="nombre"
                                                                    required #nombre="ngModel" name="nombre"
                                                                    [(ngModel)]="_socio.nombre">
                                                                <div [hidden]="nombre.valid || nombre.pristine"
                                                                    class="alert alert-danger">
                                                                    Debe ingresar el nombre
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="nombre">Apellido</label>
                                                                <input type="text" class="form-control" id="apellido"
                                                                    required #apellido="ngModel" name="apellido"
                                                                    [(ngModel)]="_socio.apellido">
                                                                <div [hidden]="apellido.valid || apellido.pristine"
                                                                    class="alert alert-danger">
                                                                    Debe ingresar el apellido
                                                                </div>
                                                            </div>
                                                            <div class="row">

                                                                <az-tipo-documento [tipoDoc]="_socio.tipoDoc">
                                                                </az-tipo-documento>

                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <label for="nroDocParam1">Nro de
                                                                            documento</label>
                                                                        <input class="form-control" id="nroDocParam1"
                                                                            #nroDocParam1="ngModel" name="nroDocParam1"
                                                                            [(ngModel)]="_socio.nroDocumento">
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <label for="input-2">Género</label>
                                                                        <select class="form-control" id="sexo"
                                                                            name="sexo" [(ngModel)]="_socio.sexo">
                                                                           
                                                                            <option *ngFor="let sex of _sexo" [value]="sex.nombre">{{sex.nombre}}</option>                                                                          
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <label for="input-2">Estado civil</label>
                                                                        <select class="form-control" id="estadoCivil"
                                                                            name="estadoCivil"
                                                                            [(ngModel)]="_socio.estadoCivil">
                                                                            <option *ngFor="let civil of _estadoCivil" [value]="civil.nombre">{{civil.nombre}}</option> 
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col col-md-6">
                                                            <div class="form-group">
                                                                <label for="input-2">Email</label>
                                                                <input type="text" class="form-control" id="email"
                                                                    name="email" [(ngModel)]="_socio.email">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="input-2">Teléfono</label>
                                                                <input type="text" class="form-control" id="telefono"
                                                                    name="telefono" [(ngModel)]="_socio.telefono">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="input-2">Celular</label>
                                                                <input type="text" class="form-control" id="celular"
                                                                    name="celular" [(ngModel)]="_socio.celular">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="input-2">Fecha Nacimiento</label>
                                                                <input #fecha type="date" class="form-control"
                                                                    id="fechaNacimiento" name="fechaNacimiento"
                                                                    [ngModel]="_socio.fechaNacimiento  | date:'yyyy-MM-dd'"
                                                                    (ngModelChange)="actualizarFecha(fecha.value)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-lg-12" *ngIf="_socio.domicilio">
                                            <az-domicilio [_domicilio]="_socio.domicilio">
                                            </az-domicilio>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-lg-12" *ngIf="_socio.contacto">
                                            <az-contacto [_contacto]="_socio.contacto">
                                            </az-contacto>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-main"
                                        [disabled]="!socioForm.form.valid">Guardar</button>
                                    <button (click)="limpiarForm();" type="button" style="margin-left: 30px;"
                                        class="btn btn-default">Cancelar</button>

                                    <button style="margin-left: 30px;" *ngIf="_socio.id > 0" class="btn btn-danger"
                                        (click)="eliminarItem(_socio)">Dar de baja <i
                                            class="fa fa-trash"></i></button>
                                </form>
                            </div>

                            <div class="col-xl-3 col-lg-3 col-12">
                                <az-select-tags [listaTags]="_socio.listaTags"></az-select-tags>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="display:none" class="col-lg-3">
                <div widget class="card">
                    <div class="card-header">
                        <span>Asociación</span>
                        <div class="widget-controls">
                            <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                            <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                            <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                            <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                        </div>
                    </div>
                    <div class="card-block widget-body">
                        <form (ngSubmit)="onSubmit(socioForm)" #asociacionForm="ngForm">
                            <div class="row">
                                <div class="col col-md-6">
                                    <div class="form-group">
                                        <label for="nombre">Nombre</label>
                                        <input type="text" class="form-control" id="nombre" required #nombre="ngModel"
                                            name="nombre" [(ngModel)]="_socio.nombre">
                                        <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">
                                            Debe ingresar el nombre
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="nombre">Apellido</label>
                                        <input type="text" class="form-control" id="apellido" required
                                            #apellido="ngModel" name="apellido" [(ngModel)]="_socio.apellido">
                                        <div [hidden]="apellido.valid || apellido.pristine" class="alert alert-danger">
                                            Debe ingresar el apellido
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-main"
                                [disabled]="!asociacionForm.form.valid">Guardar</button>
                            <button (click)="limpiarForm();" type="button" style="margin-left: 30px;"
                                class="btn btn-default">Cancelar</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>