<div class="col">
    <div class="form-group">
        <label for="tipoDoc">Tipo documento</label>
        <select class="form-control" id="tipoDoc" required #tipoDoc="ngModel" name="tipoDoc" [(ngModel)]="tipoDoc">
            <option *ngFor="let item of tiposDocumentos" [ngValue]="item">{{item.nombre}}</option>
        </select>
        <div [hidden]="tipoDoc.valid || tipoDoc.pristine" class="alert alert-danger">
            Debe ingresar el tipo de documento
        </div>
    </div>
</div>
<div class="col">
    <div class="form-group">
        <label for="nroDocumento">Nro de documento</label>
        <input class="form-control" id="nroDocumento" required #nroDocumento="ngModel" name="nroDocumento" [(ngModel)]="nroDocumento">
        <div [hidden]="nroDocumento.valid || nroDocumento.pristine" class="alert alert-danger">
            Debe ingresar el nro de documento
        </div>
    </div>
</div>
