<style>
    .example-container {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }

    .example-sidenav-content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .example-sidenav {
        padding: 20px;
        width: 200px;
    }
</style>

<md-sidenav-container class="example-container">
    <md-sidenav #sidenav class="example-sidenav">
        Jolly good!
    </md-sidenav>

    <div class="example-sidenav-content">
        <button md-button (click)="sidenav.open()">
            Open sidenav
        </button>
    </div>

</md-sidenav-container>