<div widget class="card" style="overflow:visible;margin-bottom: 25px;">
    <div class="card-header">
        Socios
        <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
            <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        </div>
    </div>
    <div class="card-block widget-body">
        <p class="no-margin"> </p>
        <input ngui-auto-complete
               placeholder="Agregar Socio..."
               class="form-control"
               display-property-name="nroDocumento"
               value-property-name="id"
               no-match-found-text="No se encontraron socios"
               max-num-list="10"
               [list-formatter]="autocompleListFormatter"
               [(ngModel)]="selectedSocio"
               [source]="socios"
               (valueChanged)="socioSelected($event)"
               (keyup.enter)="socioSelected($event)"
               style="margin-bottom:10px" />
        <div style="border-top:1px solid #EEE">
            <span style="padding: 5px;font-size: 12px;margin: 5px;" *ngFor="let item of listaSocios" class="badge badge-main">
              {{item.nombre}} {{item.apellido}} -{{item.nroDocumento?item.nroDocumento:''}}
               <span (click)="socioSelected(item)" class="fa fa-times" style="cursor:pointer;"></span>
            </span>
        </div>
    </div>
</div>
