<div class="row">

    <div class="col-xl-12 col-lg-12 col-12 bottom-30">

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-12">
                        <form (ngSubmit)="guardar()" #socioForm="ngForm">
                            <div class="row">
                                <div class="col col-lg-12">
                                    <div widget class="card" style="margin-bottom:20px">
                                        <div class="card-header">
                                            <span>Datos personales</span>
                                            <div class="widget-controls">
                                                <a data-widgster="expand" href="#" class="transition">
                                                    <i class="fa fa-chevron-down"></i>
                                                </a>
                                                <a data-widgster="collapse" href="#" class="transition">
                                                    <i class="fa fa-chevron-up"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-block widget-body">
                                            <div class="row">
                                                    <div class="form-group">
                                                        <label for="nombre">Nombre</label>
                                                        <input type="text" class="form-control" id="nombre" required #nombre="ngModel" name="nombre" [(ngModel)]="_socio.nombre">
                                                        <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">
                                                            Debe ingresar el nombre
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="nombre">Apellido</label>
                                                        <input type="text" class="form-control" id="apellido" required #apellido="ngModel" name="apellido" [(ngModel)]="_socio.apellido">
                                                        <div [hidden]="apellido.valid || apellido.pristine" class="alert alert-danger">
                                                            Debe ingresar el apellido
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="nroDocParam1">Nro de documento
                                                        </label>
                                                        <input class="form-control" id="nroDocParam1" #nroDocParam1="ngModel" name="nroDocParam1" [(ngModel)]="_socio.nroDocumento"
                                                            disabled>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="input-2">Género</label>
                                                        <select class="form-control" id="sexo" name="sexo" [(ngModel)]="_socio.sexo">

                                                            <option *ngFor="let sex of _sexo" [value]="sex.nombre">{{sex.nombre}}</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="input-2">Estado civil</label>
                                                        <select class="form-control" id="estadoCivil" name="estadoCivil" [(ngModel)]="_socio.estadoCivil">
                                                            <option *ngFor="let civil of _estadoCivil" [value]="civil.nombre">{{civil.nombre}}</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="input-2">Email</label>
                                                        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="_socio.email">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="input-2">Teléfono</label>
                                                        <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="_socio.telefono">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="input-2">Celular</label>
                                                        <input type="text" class="form-control" id="celular" name="celular" [(ngModel)]="_socio.celular">
                                                    </div>
                                                    <!-- (ngModelChange)="actualizarFecha(fecha.value) -->
                                                    <div class="form-group">
                                                        <label for="input-2">Fecha Nacimiento</label>
                                                        <input #fecha type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" [ngModel]="_socio.fechaNacimiento  | date:'yyyy-MM-dd'"
                                                            (ngModelChange)="actualizarFecha(fecha.value)" disabled>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col col-lg-12" *ngIf="_socio.domicilio">
                                    <az-domicilio [_domicilio]="_socio.domicilio">
                                    </az-domicilio>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col col-lg-12" *ngIf="_socio.contacto">
                                    <az-contacto [_contacto]="_socio.contacto">
                                    </az-contacto>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-main" [disabled]="!socioForm.form.valid">Guardar</button>
                            <button (click)="limpiarForm();" type="button" style="margin-left: 30px;" class="btn btn-default">Cancelar</button>


                        </form>
                    </div>

                </div>
            </div>

            <div style="display:none" class="col-lg-3">
                <div widget class="card">
                    <div class="card-header">
                        <span>Asociación</span>
                        <div class="widget-controls">
                            <a data-widgster="expand" href="#" class="transition">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <a data-widgster="collapse" href="#" class="transition">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a data-widgster="fullscreen" href="#" class="transition">
                                <i class="fa fa-expand"></i>
                            </a>
                            <a data-widgster="restore" href="#" class="transition">
                                <i class="fa fa-compress"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-block widget-body">
                        <form (ngSubmit)="onSubmit(socioForm)" #asociacionForm="ngForm">
                            <div class="row">
                                <div class="col col-xs-12">
                                    <div class="form-group">
                                        <label for="nombre">Nombre</label>
                                        <input type="text" class="form-control" id="nombre" required #nombre="ngModel" name="nombre" [(ngModel)]="_socio.nombre">
                                        <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">
                                            Debe ingresar el nombre
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="nombre">Apellido</label>
                                        <input type="text" class="form-control" id="apellido" required #apellido="ngModel" name="apellido" [(ngModel)]="_socio.apellido">
                                        <div [hidden]="apellido.valid || apellido.pristine" class="alert alert-danger">
                                            Debe ingresar el apellido
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-main" [disabled]="!asociacionForm.form.valid">Guardar</button>
                            <button (click)="limpiarForm();" type="button" style="margin-left: 30px;" class="btn btn-default">Cancelar</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>