<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
      <tr class="top">
          <td colspan="2">
              <table>
                  <tr>
                      <td class="title">
                          <img src="../../../../assets/img/logo/az_logo.png" >
                      </td>
                      
                      <td>
                          Nro recibo #: 123<br>
                          Fecha Creación: January 1, 2015<br>                             
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
      
      <tr class="information">
          <td colspan="2">
              <table>
                  <tr>
                      <td>
                          Fundación Renacer.<br>
                          Calle Juan Felipe Vilela 220<br>
                          5021 Córdoba, Argentina
                      </td>
                      
                      <td>
                        fundacionrenacereventos@gmail.com
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
      
      <tr class="heading">
          <td>
              Método de Pago
          </td>
          
          <td>
              Efectivo #
          </td>
      </tr>
      
  <!--     <tr class="details">
          <td>
              Efectivo
          </td>
          
          <td>
              1000
          </td>
      </tr> -->
      
      <tr class="heading">
          <td>
              Concepto
          </td>
          
          <td>
              Precio
          </td>
      </tr>
      
      <tr class="item">
          <td>
              Pago cuota 1
          </td>
          
          <td>
              $800.00
          </td>
      </tr>
    
<!--       <tr class="item">
          <td>
              Hosting (3 months)
          </td>
          
          <td>
              $75.00
          </td>
      </tr>
      
      <tr class="item last">
          <td>
              Domain name (1 year)
          </td>
          
          <td>
              $10.00
          </td>
      </tr> -->
      
      <tr class="total">
          <td></td>
          <h1></h1>
          <td>
             Total: $800.00
          </td>
      </tr>
  </table>
</div>
